<html>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<head>
  <title>3D Wordiverse</title>

  <style>

    #minimize {
      position: absolute;
      top: 0px;
      right: 5px;
      font-size: 6px;
    }
    body {font: 10pt arial;}
    #visibleWhenClicked {
        visibility: hidden;
    }

    #lowerTopMenu .btn{
      font-size: 10px;
    }

    .Fixed
    {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border: dotted;
        border-width: thin;
        background-color:  #C3D9E0;
        padding: 3px;
        width: 100%;
        opacity: 0.8;
        margin: 0 auto;
        visibility: hidden;
    }
    .Fixed2
    {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        border: dotted;
        border-width: thin;
        background-color:  #C3D9E0;
        padding: 0px;
        width: 100%;
        opacity: 0.8;
        margin: 0 auto;
        visibility: hidden;
    }
    .Fixed3
    {
        position: fixed;
        top: 10px;
        right: 23px;
        opacity: 0.8;
        margin: 0 auto;
        visibility: hidden;
        padding: 5px;
    }
    #insideFixed
    {
        border: 1px solid transparent;
        padding: 2px;
    }
    textarea {
        resize: none;
        height: 24px;
    }
    #temp{
	    display:inline-block;
	    position:relative;
	    bottom: -5px;
	    height: 48px;
	}

	#foundText{
	 position:absolute;
	 left:1px;
	 bottom: 10px;
	}

	#next{
	 position:absolute;
	 right:1px;
	 bottom: 7px;
	 height: 5px;
	 visibility: hidden;

	}

  </style>

  <link href="css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/vendor/slider.css">
  <link rel="stylesheet" type="text/css" href="css/mystyle.css">
  <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap-multiselect.css">


  <script>
    var idCounter = 0;

    /** DETECTING BROWSER **/
    var isOpera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
    // Opera 8.0+ (UA detection to detect Blink/v8-powered Opera)
    var isFirefox = typeof InstallTrigger !== 'undefined';   // Firefox 1.0+
    var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
    // At least Safari 3+: "[object HTMLElementConstructor]"
    var isChrome = !!window.chrome && !isOpera;              // Chrome 1+
    var isIE = /*@cc_on!@*/false || !!document.documentMode;   // At least IE6
    /** DETECTING BROWSER ENDS**/

    var globalWord = null;
    var globalx1 = null;
    var globaly1 = null;
    var globalz1 = null;
    var globalcolor = null;
    //GLOBAL CAMERA CENTER VARIABLE
    var xCameraCenter;
    var yCameraCenter;
    var zCameraCenter;
    //GLOBAL CONTAINER OF WORDS
    var globalContainer = [];
    var globalContainerCentroid = [];
    //GLOBAL VARIABLE FOR REGEX SEARCH
    var queue = [];
    var matchCounter;
    var currentCounter;
    //GLOBAL VARIABLE FOR SHOWING AXIS
    var showAxis = false;
    //GLOBAL VARIABLE FOR CHANGING THEME
    var switchTheme = false;
    //GLOBAL VARIABLE FOR COLOR OFF
    var colorOff = false;
    // GLOBAL VARIABLE FOR DRAWING TEXT
    var enableDrawText = true;
    // GLOBAL VARIABLE FOR SPIDER SEARCH
    var spiderContainer = [];
    var regularSearchBoolean = false;;
    var regexSearchBoolean = false;
    var spiderSearchBoolean = false;


  </script>

  <script type="text/javascript" src="js/vendor/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/vendor/vis.js"></script>
  <script type="text/javascript" src="js/vendor/bootstrapslider.js"></script>
  <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/vendor/bootstrap-multiselect.js"></script>


  <script type="text/javascript">
      $(document).ready(function() {
             $('#example-getting-started').multiselect({
             onChange: function(option, checked, select) { //DETECTING CHANGES TO THE DROPDOWN CHECKBOX
                if($(option).val() == "0") {
                  enableDrawText = enableDrawText ? false : true;
                  graph.redraw();
                } else if ($(option).val() == "1") {
                  enableTextColoring = enableTextColoring ? false: true;
                  graph.redraw();
                } else if ($(option).val() == "2") {
                  showAxis = showAxis ? false : true;
                  graph.redraw();

                } else if ($(option).val() == "3") {
                   if(switchTheme == true) {
                      switchTheme = false;
                       $('#mygraph').css('background-color', 'white');
                    }
                     else {
                    switchTheme = true;
                   $('#mygraph').css('background-color', 'black');
                }
                graph.redraw();

                } else if ($(option).val() == "4") {
                  colorOff = colorOff ? false : true;
                  graph.redraw();

                }
            }
        });
      });
  </script>

</head>

<body>
    <div class="ok">

        <div class = "container">
            <div class="menu">
                 <ul class="nav navbar-nav">
                   <li><a href="future">Home</a></li>
                   <li><a href="futureAnalysis">Demo</a></li>
                   <li><a href="realTimeGraph">Statistical graph</a></li>
                   <li><a href="trainingCorpus">Training Corpus</a></li>
                   <li><a href="sourceCode">Source Code</a></li>
                   <li><a href="3dwordiverse">3D-Wordiverse</a></li>

                 </ul>
            </div>

            <div id = "top-layer" class="container-fluid">
                <br/><br/>
                <hr/>
                <br/>
                <h3 style="display: inline;">3D Wordiverse </h3>
                <form align = "right" action="http://www.mindandlanguagelab.com/demoResult">
                   <input class = "btn btn-primary" type="submit" value="Download Sample Data">
                </form>
            

            </div>
            <br/> <br/>

            <div class="jumbotron col-md-16 center">
            <input type="file" id="files" name="files[]" multiple />
            <div align="right">
               <button type="button" id="find" class="btn btn-primary" style="width:120px; height:45px;" >Display</button>
           
            </div>
            <output id="list"></output>
            </div>

           
            <hr>
            <div id = "visibleWhenClicked" class="jumbotron col-md-16 center">
            <h5 align = "center">KNOWN ERROR: PLEASE REFRESH THE PAGE IF YOU LOAD ANOTHER CSV</h5>
            <h5 align = "center">USAGE: You can change the perspective of the graph by using keyboard q,w,a,s,z,x to shift according to x, y, z axis.</h5>


            </div>
            <div id="mygraph">
                <div style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                    <canvas id = "theCanvas" width="600" height="600" style="position: relative; width: 100%; height: 100%;">
                        <div style="color: red; font-weight: bold; padding: 10px;">Error: your browser does not support HTML canvas</div>
                    </canvas>
                <div style="position: absolute; bottom: 0px; left: 0px; width: 580px;">

                </div>
                </div>
            </div>

            <div class = "container fixed" id = "new">
                <div align = "center" >
                    <div id = "insideFixed">
                        Label: <textarea id = "hover1" resize= none; rows="1" cols="10"></textarea> &nbsp
                        Xcoord: <textarea id = "hover2"  resize= none; rows="1" cols="10"></textarea> &nbsp
                        Ycoord: <textarea id = "hover3"  resize= none; rows="1" cols="10"></textarea> &nbsp
                        Zcoord: <textarea id = "hover4"  resize= none; rows="1" cols="10"></textarea> &nbsp
                    </div>
                    <button align = "right" type="button" id="newLabelZoom" class="btn btn-primary" style="width:120px; height:45px;">Zoom Center</button>
                    <button align = "right" type="button" id="newLabelQuick" class="btn btn-primary" style="width:100px; height:45px;">Quick New</button>
                    <button align = "right" type="button" id="newLabel" class="btn btn-primary" style="width:110px; height:45px;">Create New</button>
                    <button align = "right" type="button" id="newLabelEdit" class="btn btn-primary" style="width:80px; height:45px;">Update</button>
                    <button align = "right" type="button" id="newLabelDelete" class="btn btn-primary" style="width:60x; height:45px;">Delete</button>
                   


                </div>
            </div>

            <div class = "container fixed2" id = "topMenu">
                <div align = "center">
                    <h4 align = "center">
                        <button align = "right" type="button" id="minimize" class="btn btn-primary" style="width:50px; height:20px;">MINIMIZE</button>
                    </h4>
                    <h6 align = "center">
                        <div id = "insideFixed">
                        POINT SIZE: <input type="text" id="foo" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="hide">&nbsp&nbsp&nbsp
                        LABEL SIZE: <input type="text" id="foo1" class="span2" value="" data-slider-min="1" data-slider-max="30" data-slider-step="1" data-slider-value="1" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="hide">&nbsp&nbsp

                          OPTIONS: 
                          <select id="example-getting-started" multiple="multiple">
                              <option id = "textCheck" value= "0" selected = "selected">TEXT LABEL</option>
                              <option id = "textColorCheck" value= "1" selected = "selected">TEXT COLOR</option>
                              <option id = "showAxisCheck" value="2">SHOW AXIS</option>
                              <option id = "switchTheme" value="3">SWITCH THEME</option>
                              <option id = "colorOff" value="4">COLOR OFF</option>
                          </select>

                        </div>
                    <div id = "lowerTopMenu">

                    <input type="radio" id="regularSearch" name = "search" value="male">Exact Search&nbsp
  					<input type="radio" id="regexSearch" name = "search" value="female" checked="">All Occurences of Substring
  					<input type="radio" id="spiderSearch" name = "search" value="female">Spider Search
  						  <div id = "temp">
                          <textarea id = "searchContent" resize= none; rows="1" cols="30" placeholder = "Enter Word"></textarea>
                          	<div id = "foundText">[YOUR SEARCH]</div>
                          	<button type="button" id = "next">NEXT</button>
                      </div>
                      
                          <button type="button" id = "search" class="btn btn-primary" style="width:70px; height:25;">SEARCH</button>&nbsp
                          <button type="button" id="restoreCenter" class="btn btn-primary" style="width:70px; height:25;">RESTORE</button>
                          <button type="button" id="download" class="btn btn-primary" style="width:110px; height:25;">DOWNLOAD CSV</button>
                          <button type="button" id="dimensionReduction" class="btn btn-primary" style="width:150px; height:25;">DIMENSION REDUCTION</button>
                    </div>
                    </h6>


                </div>
            </div>
            <div class = "fixed3" id = "topIcon">
                <button align = "right" type="button" id="minimize2" class="btn btn-primary" style="width:40px; height:30px;">+</button>
            </div>




            <div id="footer">
                  <div class="container">
              <hr/>
              <a href="http://www.emory.edu"><img src="img/university2.png" alt="Emory" width="60"/></a>
              <a href="http://www.sfl.cnrs.fr"><img src="img/sfl.jpg" alt="SFL" width="130"/></a>
              <a href="http://www.cnrs.fr"><img src="img/cnrs.jpg" alt="CNRS" /></a>
              <a href="http://www.univ-paris8.fr "><img src="img/P8.jpg" alt="Paris 8 University" width="120" /></a>
            </div></div>

            <div id="info"></div>
    </div>
</div>
<script>
var data_txt;
var dataContent;
var labels = [];
var categories = [];
$("#minimize").click(function() {
        document.getElementById("topMenu").style.visibility= "hidden" ;
        document.getElementById("topIcon").style.visibility= "visible" ;
        //document.getElementById("new").style.visibility= "hidden" ;
});
$("#minimize2").click(function() {
        document.getElementById("topMenu").style.visibility= "visible" ;
        document.getElementById("topIcon").style.visibility= "hidden" ;
        //document.getElementById("new").style.visibility= "visible" ;
});


 $('#files').click(function() {
     //RESET
     data_txt = null;
     dataContent = null;
     labels = [];
     categories = [];
     isThereLimitOnCameraRotation = false;
     canZoomInfinite = true;
     dotSizeFromUser = 0.0001;
 }

 );
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // files is a FileList of File objects. List some properties.
    data_txt = "";
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '</li>');

      var reader = new FileReader();
      reader.onload = function(e) {
          data_txt += reader.result + "\n";
      }
      reader.readAsText(f);
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }
  document.getElementById('files').addEventListener('change', handleFileSelect);

</script>

<script type="text/javascript">
  var data = null;
  var graph = null;


  // Called when the Visualization API is loaded.
  function drawVisualization(inputDotSize) {

    // create the data table.
    data = new vis.DataSet();
    // create some shortcuts to math functions
    var sqrt = Math.sqrt;
    var pow = Math.pow;
    var random = Math.random;

    //FIND LARGEST CATEGORY Number
    var numberOfCategory = 0;

    for (var i = 0; i < dataContent.length; i++) {
        var tempCategory = Number(categories[i]);
        if(tempCategory > numberOfCategory) {
            numberOfCategory = tempCategory;
        }
    }

    //create objects inside array
    for (var i = 0; i <= numberOfCategory; i++) {
        globalContainer[i] = [];
    }

    // create the animation data
    for (var i = 0; i < dataContent.length; i++) {
        var content = {};

      var x = dataContent[i][0];
      var y = dataContent[i][1];
      var z = dataContent[i][2];
      var dist = categories[i];
      var vocabulary = labels[i];

      data.add({id: idCounter, x:x,y:y,z:z, style:dist, word:vocabulary, color: dist});
      content.id = idCounter;
      content.x = x;
      content.y = y;
      content.z = z;
      content.style = dist;
      content.word = vocabulary;
      content.color = dist;
      if(dist == -1) {
          globalContainerCentroid.push(content);
          idCounter = idCounter + 1;

      } else {
          globalContainer[dist].push(content);
          idCounter = idCounter + 1;

      }
    }

    // specify options
    var options = {
      width:  '100%',
      height: '1000px',
      style: 'dot-color',
      showPerspective: false,
      cameraPosition: {horizontal: -1.0, vertical: -10.5, distance: 1.7},
      showGrid: false,
      keepAspectRatio: true,
      verticalRatio: 1,
      xValueLabel: function (x) {return ""},
      yValueLabel: function (y) {return ""},
      zValueLabel: function (z) {return ""},
      tooltip: function(point) {

          return "TOOLTIP";
      },
      cameraPosition: {
        horizontal: -0.35,
        vertical: 0.22,
        distance: 1.8
      }
    };

    // create our graph
    var container = document.getElementById('mygraph');
    graph = new vis.Graph3d(container, data, options, inputDotSize);
    editInProgress = true;
    xCameraCenter = (graph.xMax + graph.xMin) / 2 * graph.scale.x;
    yCameraCenter = (graph.yMax + graph.yMin) / 2 * graph.scale.y;
    zCameraCenter = (graph.zMax + graph.zMin) / 2 * graph.scale.z;

  }

  $("#find").click(function() {

      //RESET data
       globalWord = null;
       globalx1 = null;
       globaly1 = null;
       globalz1 = null;
       globalcolor = null;
      //GLOBAL CAMERA CENTER VARIABLE
      //GLOBAL CONTAINER OF WORDS
       globalContainer = [];



      var d = ",";
      var lines = data_txt.split("\n");
      var raw_data = [];
      for(var i=1;i<lines.length;i++) {

        var row = lines[i];
        if (! /\S/.test(row)) {
          // row is empty and only has whitespace
          continue;
        }
        var cells = row.split(d);
        var data_point = [];
        labels.push(cells[0]);
        categories.push(cells[1]);
        for(var j=2;j<cells.length;j++) {
          if(cells[j].length !== 0) {
            data_point.push(parseFloat(cells[j]));
          }
        }

        raw_data.push(data_point);
      }
      dataContent = raw_data; // set global
      drawVisualization(100/100000.0);
      document.getElementById("visibleWhenClicked").style.visibility= "visible" ;
      document.getElementById("topMenu").style.visibility= "hidden" ;
      document.getElementById("topIcon").style.visibility= "hidden" ;
      document.getElementById("new").style.visibility= "hidden" ;
      document.getElementById("topMenu").style.visibility= "visible" ;



      $('html, body').animate({
          scrollTop: $("#mygraph").offset().top
      }, 1200);
  });

  $('#foo').slider("setValue", 100)
    .on('slide', function(ev){

       $('#bar').val(ev.value/100000.0);
       dotSizeFromUser = ev.value/100000.0;
       graph.redraw();
    });

    $('#foo1').slider("setValue", 10)
      .on('slide', function(ev){

         $('#bar').val(ev.value);
         fontSizeFromUser = ev.value+"px Arial";
         graph.redraw();
      });

    $('#textCheck').change( function() {
      console.log("textcheck changed");
        if(enableDrawText == true)
            enableDrawText = false;
        else
            enableDrawText = true;

        graph.redraw();
    });
    
    $('#textColorCheck').change( function() {
        if(enableTextColoring == true)
            enableTextColoring = false;
        else
            enableTextColoring = true;

        graph.redraw();
    });
    
    $('#showAxisCheck').change( function() {
        if(showAxis == true)
            showAxis = false;
        else
            showAxis= true;

        graph.redraw();
    });

    $('#switchTheme').change( function() {
        if(switchTheme == true) {
            switchTheme = false;
            $('#mygraph').css('background-color', 'white');
        }
        else {
            switchTheme = true;
            $('#mygraph').css('background-color', 'black');
        }
            

        graph.redraw();
    });
   $('#colorOff').change( function() {
        if(colorOff == true) {
            colorOff = false;
        }
        else {
            colorOff = true;
        }
            
        graph.redraw();
    });
    
    function redrawScale () {
        graph._setScale();
        graph.redraw();
    }
    $("#restoreCenter").click(function() {
         xCameraCenter = (graph.xMax + graph.xMin) / 2 * graph.scale.x;
         yCameraCenter = (graph.yMax + graph.yMin) / 2 * graph.scale.y;
         zCameraCenter = (graph.zMax + graph.zMin) / 2 * graph.scale.z;
        graph.camera.setArmLocation(xCameraCenter, yCameraCenter, zCameraCenter);
        graph.redraw();

    });


  document.addEventListener('keydown', function(event) {

      if ($("#searchContent").is(":focus")) {
         return;
      }

      if (event.keyCode == 81) {
          xCameraCenter = xCameraCenter + graph.scale.x;
          graph.camera.setArmLocation(xCameraCenter, yCameraCenter, zCameraCenter);
          graph.redraw();

      }
      else if (event.keyCode == 87) {
          xCameraCenter = xCameraCenter - graph.scale.x;
          graph.camera.setArmLocation(xCameraCenter, yCameraCenter, zCameraCenter);
          graph.redraw();
      }
      else if (event.keyCode == 65) {
          yCameraCenter = yCameraCenter + graph.scale.y;
          graph.camera.setArmLocation(xCameraCenter, yCameraCenter, zCameraCenter);
          graph.redraw();
      }
      else if (event.keyCode == 83) {
          yCameraCenter = yCameraCenter - graph.scale.y;
          graph.camera.setArmLocation(xCameraCenter, yCameraCenter, zCameraCenter);
          graph.redraw();
      }
      else if (event.keyCode == 90) {
          zCameraCenter = zCameraCenter + graph.scale.z;
          graph.camera.setArmLocation(xCameraCenter, yCameraCenter, zCameraCenter);
          graph.redraw();
      }
      else if (event.keyCode == 88) {
          zCameraCenter = zCameraCenter - graph.scale.z;
          graph.camera.setArmLocation(xCameraCenter, yCameraCenter, zCameraCenter);
          graph.redraw();
      } }, true);


        function clearTextBox() {
            $("#hover1").val("");
            $("#hover2").val("");
            $("#hover3").val("");
            $("#hover4").val("");
            document.getElementById("new").style.visibility= "hidden" ;
        }

    $("#newLabelZoom").click(function() {

        xCameraCenter = $("#hover2").val() * graph.scale.x;
        yCameraCenter = $("#hover3").val() * graph.scale.y;
        zCameraCenter = $("#hover4").val() * graph.scale.z;
        graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
        graph.redraw();
    });
    $("#newLabelQuick").click(function() {
        var word = $("#hover1").val();
        word = word + "*"
        var x1 = $("#hover2").val();
        var y1 = $("#hover3").val();
        var z1 = $("#hover4").val();
        x1 = Number(x1)+1.5;
        y1 = Number(y1)+1.5;
        z1 = Number(z1)+1.5;

        var i;
        var tempData;
        var ids = data.getIds();
        var flag = true;
        for(i = 0; i < ids.length; i++) {
            tempData = data.get(ids[i]);
            if ((tempData.x == x1) && (tempData.y == y1) && (tempData.z == z1)) {
                flag = false;
                var r = confirm("A word [ " + word + " ] with same vector exists. Are you sure you want to continue?");
                if (r) {
                    idCounter = idCounter + 1;
                    data.add({id: idCounter, x:x1,y:y1,z:z1, style:-1, word:word, color: -1});
                    graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
                    graph.redraw
                    alert("Point Inserted");
                    break;
                } else {
                    alert("Stopped");
                    break;
                }
            }
        }
        if(flag) {
            idCounter = idCounter + 1;
            data.add({id: idCounter, x:x1,y:y1,z:z1, style:-1, word:word, color: -1});
            graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
            graph.redraw
        }
        clearTextBox();
    });
    $("#newLabel").click(function() {
    	
        var word = $("#hover1").val();

        var x1 = Number($("#hover2").val());
        var y1 = Number($("#hover3").val());
        var z1 = Number($("#hover4").val());

        //search if already exist
        var i;
        var tempData;
        var ids = data.getIds();
        var flag = true;
        for(i = 0; i < ids.length; i++) {
            tempData = data.get(ids[i]);
            if ((tempData.x == globalx1) && (tempData.y == globaly1) && (tempData.z == globalz1)) {
                flag = false;
                var r = confirm("A word [ " + word + " ] with same vector exists. Are you sure you want to continue?");
                if (r) {
                    idCounter = idCounter + 1;
                    data.add({id: idCounter, x:x1,y:y1,z:z1, style:-1, word:word, color: -1});
                    graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
                    graph.redraw
                    alert("Point Inserted");
                    break;
                } else {
                    alert("Stopped");
                    break;
                }
            }
        }
        if(flag) {
            idCounter = idCounter + 1;
            data.add({id: idCounter, x:x1,y:y1,z:z1, style:-1, word:word, color: -1});
            graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
            graph.redraw
        }
        clearTextBox();
    });
    $("#newLabelClose").click(function() {
        document.getElementById("new").style.visibility= "hidden" ;
        clearTextBox();
    });

    $("#newLabelEdit").click(function() {

        //DELETE FUNCTION
        var i;
        var word = globalWord
        var x1 = Number(globalx1);
        var y1 = Number(globaly1);
        var z1 = Number(globalz1);
        var tempData;
        var ids = data.getIds();
        for(i = 0; i < ids.length; i++) {
            tempData = data.get(ids[i]);
            if ((tempData.x == x1) && (tempData.y == y1) && (tempData.z == z1) && (tempData.word == word)) {
                data.remove(tempData.id);
            }
        }

        //EDIT FUNCTION
        word = $("#hover1").val();

        x1 = Number($("#hover2").val());
        y1 = Number($("#hover3").val());
        z1 = Number($("#hover4").val());

        //search if already exist
        ids = data.getIds();
        var flag = true;
        var sameWord = false;
        for(i = 0; i < ids.length; i++) {
            tempData = data.get(ids[i]);
            if ((tempData.x == globalx1) && (tempData.y == globaly1) && (tempData.z == globalz1)) {
                var flag = false;
                var r = confirm("A word [ " + word + " ] with same vector exists. Are you sure you want to continue?");
                if (r) {
                    idCounter = idCounter + 1;
                    data.add({id: idCounter, x:x1,y:y1,z:z1, style:globalcolor, word:word, color: globalcolor});
                    graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
                    graph.redraw
                    alert("Point Inserted");
                } else {
                    alert("Stopped");
                }
            }
            if(tempData.word == word) {
                sameWord = true;
            }
        }
        if(flag) {
            graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
            idCounter = idCounter + 1;
            if(sameWord) {
                alert("The Word [ " + word + " ] already exists." );
                data.add({id: idCounter, x:x1,y:y1,z:z1, style:globalcolor, word:globalWord, color: globalcolor});

            } else {
                data.add({id: idCounter, x:x1,y:y1,z:z1, style:globalcolor, word:word, color: globalcolor});
            }
            graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
            graph.redraw
        }
        clearTextBox();
    });
    $("#newLabelDelete").click(function() {
        var i;
        var word = $("#hover1").val();
        var x1 = Number($("#hover2").val());
        var y1 = Number($("#hover3").val());
        var z1 = Number($("#hover4").val());
        var tempData;
        var ids = data.getIds();
        for(i = 0; i < ids.length; i++) {
            tempData = data.get(ids[i]);
            if ((tempData.x == x1) && (tempData.y == y1) && (tempData.z == z1) && (tempData.word == word)) {
                data.remove(tempData.id);
            }
        }
        clearTextBox();
        graph.redraw();
    });

    //click to initiate floating bottom menu
    var $body = $('#mygraph');
    $body.on('mousedown', function (evt) {
      $body.on('mouseup mousemove', function handler(evt) {
        if (evt.type === 'mouseup') {

            document.getElementById("new").style.visibility= "visible" ;
            var dataPoint2 = graph._dataPointFromXY(mousePosition.x, mousePosition.y);
            if(dataPoint2 == null) {
                    document.getElementById("new").style.visibility= "hidden" ;
            } else {
            globalWord = dataPoint2.point.word;

            $("#hover1").val(dataPoint2.point.word);
            globalx1 = Number(dataPoint2.point.x);
            $("#hover2").val(globalx1);
            globaly1 = Number(dataPoint2.point.y);
            $("#hover3").val(globaly1);
            globalz1 = Number(dataPoint2.point.z);
            $("#hover4").val(globalz1);
            globalcolor = dataPoint2.point.color;

            }
         

        } else {
          //console.log("drag");
        }
        $body.off('mouseup mousemove', handler);
      });
    });

    $("#search").click(function() {

    	if($('#regularSearch').is(':checked')) { 
    		regularSearchBoolean = true;
    		regexSearchBoolean = false;
    		spiderSearchBoolean = false;
    	}
    	else if($('#regexSearch').is(':checked')) { 
    		regularSearchBoolean = false;
    		regexSearchBoolean = true;
    		spiderSearchBoolean = false;
    	}
    	else if($('#spiderSearch').is(':checked')) { 
    		regularSearchBoolean = false;
    		regexSearchBoolean = false;
    		spiderSearchBoolean = true;
    	}




        var word = $('#searchContent').val();
        word = word.toLowerCase();
        var tempData;
        var ids = data.getIds();
        var x1,y1,z1 = null;
        var found = false;
        if(regularSearchBoolean) {

        	console.log("REGULAR SERACH");
        	document.getElementById("next").style.visibility= "hidden" ;

        	for(var i = 0; i < ids.length; i++) {
            tempData = data.get(ids[i]);
            if (tempData.word == word) {
                xCameraCenter = tempData.x * graph.scale.x;
                yCameraCenter = tempData.y * graph.scale.y;
                zCameraCenter = tempData.z * graph.scale.z;
                graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
                graph.redraw();
                found = true;
                document.getElementById("foundText").innerHTML = "[" + word + "]";
                break;
            	}
        	}
       		 if(!found) {
            	alert("[ " + word + " ] NOT FOUND!");
                document.getElementById("foundText").innerHTML = "NOT FOUND!";
            }

        }
        else if(spiderSearchBoolean) {
        	console.log("SPIDER SERACH");
        	var regexSymbol;
        	var spiderQueue = [];
          queue = [];

        	for(var i = 0; i < ids.length; i++) {
            tempData = data.get(ids[i]);

            regexSymbol = "^"+word + "_?[0-9]+_?[0-9]+";
            regexSymbol = new RegExp(regexSymbol);

            if (regexSymbol.test(tempData.word) || tempData.word == word) {
               // console.log(tempData);
                tempData.connectedTo = [];
                found = true;
                spiderQueue.push(tempData);
                queue.push(tempData);
            	}
        	}

          for(var i = 0; i < spiderQueue.length; i++) {
              console.log(" [" + spiderQueue[i].word + "] ");
              var containerToSort = [];
              for(var j = 0; j < spiderQueue.length; j++) {
                if (j == i)
                  continue;
                else {
                    var temp = {};
                    temp.vertex = spiderQueue[j];
                    temp.word = spiderQueue[j].word; 
                    temp.index = j;
                    temp.distance = Math.sqrt(Math.pow(spiderQueue[i].x-spiderQueue[j].x, 2) + Math.pow(spiderQueue[i].y-spiderQueue[j].y, 2) + Math.pow(spiderQueue[i].z-spiderQueue[j].z, 2));

                    containerToSort.push(temp);
                    containerToSort.sort(function(a,b) {
                        return a.distance - b.distance;
                    });
                }
               
              }

              //now containerToSort contains the word's closest adj vertices
              var temp = containerToSort.shift();
              var foundIt = 0;
              var counter = 0
              while(1) {
                  counter++;
                  if(counter > 20)
                    break;
                  if(foundIt == 1) {
                    break;
                  }
                  if(typeof temp === 'undefined') {
                    console.log("Cant Find it");
                    break;
                  }

                  if(temp.vertex.connectedTo.length == 0)
                    break;

                  for(var k = 0; k < temp.vertex.connectedTo.length; k++){
                      console.log("THE WORD IS: " + temp.vertex.word);
                      console.log("THIS IS CONNECTED TO: " + temp.vertex.connectedTo[k].word);
                      if (spiderQueue[i].word == temp.vertex.connectedTo[k].word) {
                          console.log("BIDIRECTION");
                          temp = containerToSort.shift();
                          break;
                      } else {
                          foundIt = 1;
                      }

                  }
              }
              if(typeof temp !== 'undefined') {
                 spiderQueue[i].connectedTo.push(spiderQueue[temp.index]);
              }

          }

          spiderContainer = spiderQueue;


        	matchCounter = queue.length;

       		if(!found) {
            	alert("[ " + word + " ] NOT FOUND!");
              document.getElementById("foundText").innerHTML = "NOT FOUND!";
            } else {
           		var poppedWord = queue[0];
           		currentCounter = 1;
            	xCameraCenter = poppedWord.x * graph.scale.x;
                yCameraCenter = poppedWord.y * graph.scale.y;
                zCameraCenter = poppedWord.z * graph.scale.z;
                graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
                graph.redraw();
                document.getElementById("foundText").innerHTML = "[" + poppedWord.word + "]  " + currentCounter + "/" + matchCounter;
                if(matchCounter > 1) {
                	document.getElementById("next").style.visibility= "visible" ;
                } else {
                	document.getElementById("next").style.visibility= "hidden" ;
                }
            }

        }
        else if (regexSearchBoolean){
        	console.log("REGEX SERACH");
        	queue = [];

        	for(var i = 0; i < ids.length; i++) {
            tempData = data.get(ids[i]);
            if (tempData.word.indexOf(word) >= 0) {
                found = true;
                queue.push(tempData);
            	}
        	}
        	matchCounter = queue.length;
          console.log(matchCounter);

       		if(!found) {
            	alert("[ " + word + " ] NOT FOUND!");
                document.getElementById("foundText").innerHTML = "NOT FOUND!";
            } else {
           		var poppedWord = queue[0];
           		currentCounter = 1;
            	xCameraCenter = poppedWord.x * graph.scale.x;
                yCameraCenter = poppedWord.y * graph.scale.y;
                zCameraCenter = poppedWord.z * graph.scale.z;
                graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
                graph.redraw();
                document.getElementById("foundText").innerHTML = "[" + poppedWord.word + "]  " + currentCounter + "/" + matchCounter;
                if(matchCounter > 1) {
                	document.getElementById("next").style.visibility= "visible" ;
                } else {
                	document.getElementById("next").style.visibility= "hidden" ;
                }
            }

 

        }
    });

	$("#next").click(function() {
		currentCounter++;
    console.log("current counter: " + currentCounter);
		if(currentCounter > matchCounter) {
			alert("No More");
		} else {
			var poppedWord = queue[currentCounter-1];
      console.log(poppedWord);
			xCameraCenter = poppedWord.x * graph.scale.x;
            yCameraCenter = poppedWord.y * graph.scale.y;
            zCameraCenter = poppedWord.z * graph.scale.z;
            graph.camera.setArmLocation(xCameraCenter,yCameraCenter,zCameraCenter);
            graph.redraw();
            document.getElementById("foundText").innerHTML = "[" + poppedWord.word + "]  " + currentCounter + "/" + matchCounter;

		}

	});

    //CSV Download
    $("#download").click(function() {
        var theBigArray = [];
        var tempData;
        var ids = data.getIds();
        for(i = 0; i < ids.length; i++) {
            var object = {};
            tempData = data.get(ids[i]);
            object.verb = tempData.word;
            object.cluster = tempData.color;
            object.x = tempData.x;
            object.y = tempData.y;
            object.z = tempData.z;
            theBigArray.push(object);
        }

        if(theBigArray.length == 0){
            alert("EMPTY");
        } else {
            //Json Conversion for Download Starts
            var downloadable = theBigArray;
            //Json Conversion Ends
            var csv = JSON2CSV(theBigArray);

            if(isIE) {
                //window.open("data:text/csv;charset=utf-8," + escape(csv) + ".csv", "table.csv");
                var CSV = csv;
                var IEwindow = window.open();
                IEwindow.document.write('sep=,\r\n' + CSV);
                IEwindow.document.close();
                IEwindow.document.execCommand('SaveAs', true,  "table.csv");
                IEwindow.close();
            } else {
                var link = document.createElement('a');
                link.download = "table.csv";
                link.href = "data:text/csv;charset=utf-8," + escape(csv);

                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            }
        }
    });
    function JSON2CSV(objArray) {
        var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
        var str = '';
        var line = '';
        var head = array[0];
        for (var index in array[0]) {
            var value = index + "";
            line += '' + value.replace(/"/g, '""') + ',';
        }
        line = line.slice(0, -1);
        str += line + '\r\n';
        for (var i = 0; i < array.length; i++) {
           var line = '';
           for (var index in array[i]) {
                var value = array[i][index] + "";
                line += '' + value.replace(/"/g, '""') + ',';
            }
           line = line.slice(0, -1);
           str += line + '\r\n';
       }
       return str;
    }

    function sleep(milliseconds) {
      var start = new Date().getTime();
      for (var i = 0; i < 1e7; i++) {
        if ((new Date().getTime() - start) > milliseconds){
          break;
        }
      }
    }

    function calculation() {
        var globalContainer2 = []; //contains centroids for each category (color = index)
        var globalContainer3 = [];

        for (var i = 0; i < globalContainer.length; i++) {
            var x = 0, y = 0, z = 0, average = {};
            for (var j = 0; j < globalContainer[i].length; j++) {
                var temp = globalContainer[i][j];
                x = x + temp.x;
                y = y + temp.y;
                z = z + temp.z;
            }
            average.x = (x/globalContainer[i].length);
            average.y = (y/globalContainer[i].length);
            average.z = (z/globalContainer[i].length);
            //console.log(average.x + " " + average.y + " " + average.z);
            idCounter++;
            data.add({id: idCounter, x:average.x,y:average.y,z:average.z, style:-1, word:"centroid " + i, color: -1});
            globalContainer2.push(average);
        }
    }

    $("#dimensionReduction").click(function() {

        var globalContainer2 = []; //contains centroids for each category (color = index)
        var globalContainer3 = [];

        $(this).prop("disabled", true)
      .text("Loading...")
      .delay(1, "p")
      .queue("p", function(next) {
        next()
      })
      .dequeue("p")
      .promise("p")
      .then(function() {
        var elem = this;
        return $.Deferred(function(d) {

          var i = 0, maximum = globalContainer.length;
          for (; i < globalContainer.length; i++) {
              var x = 0, y = 0, z = 0, average = {};
              var tempCentroidContainer = [];
              var tempCentroidContainerWord = [];
              var max = Number.MAX_SAFE_INTEGER;
              var maxIndex = 0;
              var max2 = Number.MAX_SAFE_INTEGER;
              var maxIndex2 = 0;


              for (var j = 0; j < globalContainer[i].length; j++) {
                  var temp = globalContainer[i][j];
                  x = x + temp.x;
                  y = y + temp.y;
                  z = z + temp.z;
              }
              average.x = (x/globalContainer[i].length);
              average.y = (y/globalContainer[i].length);
              average.z = (z/globalContainer[i].length);


              for(var j = 0; j < globalContainer[i].length; j++) {
                  var temp = globalContainer[i][j];
                  var distanceBeforeRoot = (average.x - temp.x)*(average.x - temp.x)+(average.y - temp.y)*(average.y - temp.y)+(average.z - temp.z)*(average.z - temp.z);
                  var distance = Math.sqrt(distanceBeforeRoot);
                  tempCentroidContainer.push(distance);
                  tempCentroidContainerWord.push(temp.word);
              }
              for (var k = 1; k < tempCentroidContainer.length; k++) {
                    if (tempCentroidContainer[k] < max) {

                        maxIndex = k;
                        max = tempCentroidContainer[k];
                }
              }
              var firstWord = tempCentroidContainerWord[maxIndex];

              for (var l = 1; l < tempCentroidContainer.length; l++) {
                    if ((tempCentroidContainer[l] < max2) && (l != maxIndex)) {
                        maxIndex2 = l;
                        max2 = tempCentroidContainer[l];
                }
              }
              var secondWord = tempCentroidContainerWord[maxIndex2];

              if(tempCentroidContainer.length == 1) {
                  secondWord = "NULL"
              }


              idCounter++;
              data.add({id: idCounter, x:average.x,y:average.y,z:average.z, style:-1, word:i+"_centroid_"+firstWord + "_" + secondWord, color: -1});
              globalContainer2.push(average);
          }
          if (i === maximum) {
            d.resolveWith(elem, [i])
          }

        }).promise()
      }).then(function(data) {
        $(this).prop("disabled", false)
        .text("DIMENSION REDUCTION");

      })



    });

</script>

</body></html>
