<!DOCTYPE html>
<html ng-app="" lang="en">
<style>
#demo span {
    line-height: 250%;
}
body > #canvas {
      position: fixed;
      visibility: hidden;
 }
</style>
<head>
  <title>WOLFF LAB</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/mystyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <!-- Custom Table -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/locale/bootstrap-table-zh-CN.min.js"></script>
  <!-- tooltip -->
  <script type="text/javascript" src="future/data"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="js/vendor/Chart.js"></script> <!-- TOOLTIP CHART -->
  <!-- Loading Button -->
  <link rel="stylesheet" href="js/vendor/dist/ladda-themeless.min.css">
  <script src="js/vendor/dist/spin.min.js"></script>
  <script src="js/vendor/dist/ladda.min.js"></script>

</head>
<body>

<div class="container">
<!-- START OF NAVIGATION BAR -->
    <div ng-include="'menuTemplate'"></div>
<!--END OF NAVIGATION BAR -->

<!-- START TOP LAYER-->
    <div id = "top-layer" class="container-fluid">
    <br><br><br>
    <h1 style = "display: inline;" >Future Analysis</h1>
    <img style = "display: inline;" class = "pull-right" src="img/university.gif" alt="Emory" height="80" width="80" >
    </div>
    <br>
<!-- END TOP LAYER-->

<!-- TEXT AREA -->
    <div class="container-fluid">
        <form>
            <textarea class="form-control" id = "futureInput" placeholder="Enter your text" rows="4" cols="100%" required></textarea><br>
            <button type= "button" id = "submit" class="btn btn-primary">Run Analysis</button>
        </form>
    </div>
<!-- END TEXT AREA -->



<!-- ToolTip HTML STARTS-->
<div class = "container-fluid" >
    <br><br>
    <h1 style = "display: inline;" >Rules
        <h4 style = "display: inline;" class = "pull-right" >
            <button id="download" class = "btn btn-primary">Download CSV</button>
        </h4>
    </h1>

    <br><br><br>
    <div id = "demo" class = "container-fluid"></div>
</div>
<!-- ToolTip HTML ENDS-->

<!-- ToolTip Script Start -->
<script>
var theBigArray = [];
var $button1;
var count;
var splitedSentence;
var url1 = "http://127.0.0.1:8080/future/sentence";
var url2 = "https://www.mindandlanguagelab.com/future/sentence";
var theURL;
var localhost = false;

if (localhost) {
    theURL = url1;
} else {
    theURL = url2;
}


$("#submit").click(function() {
    var sentence = document.getElementById('futureInput').value;
    var list = document.getElementById('demo');
    list.innerHTML = "";
    if(sentence.length <= 0) {
        alert("Textarea is Empty!")
    } else {
        //LOADING BUTTON
        $button1 = $(this);
        $(this).prop("disabled",true);
        $(this).text("Loading...");

        //SPLITTING
        splitedSentences = split(sentence)
        console.log(splitedSentences);
        initializePost(splitedSentences, splitedSentences.length);
    }
});

function split(input) {
    var splitInput = [];
    var temp = input.split("\n");
    for (var i = 0; i < temp.length; i++) {
        if (temp[i] != "")
            splitInput.push(temp[i]);
    }
    return splitInput;
}

function initializePost(array, arraySize) {
    $.ajax({
       url: theURL,
        type: "POST",
        datatype: "json",
        contentType: 'application/json; charset=UTF-8',
        data: JSON.stringify({
          "sentences": array[0]
        }) //JSON.stringify(data)
    }).done(function (data, textStatus, jqXHR) {
        callBackFunc(data, array, arraySize, 1)
    });
}
//attemping to get JSON file
function callBackFunc(arr, array, arraySize, pos) {
    var list = document.getElementById('demo');


    theBigArray = []; //THIS CONTAINS THE ACTUAL DATA
    for(var i=0;i<arr.length;i++){
        var object = {};
        object.sentence = arr[i].sen;
        object.numberFuture = arr[i].result.future;
        object.numberPast = arr[i].result.past;
        for(j = 0; j < arr[i].result.futureResult.length; j++) {
            object["ruleFuture_"+j] = arr[i].result.futureResult[j];
        }
        for(j = 0; j < arr[i].result.pastResult.length; j++) {
            object["rulePast_"+j] = arr[i].result.pastResult[j];
        }
        theBigArray.push(object);
        //ASSIGN FONT COLOR
        var fontColor;
        if(object.numberPast < object.numberFuture) { //future
            fontColor = "bg-info";
        }
        else if((object.numberPast == object.numberFuture) || (object.numberPast == 0 && object.numberFuture == 0)) { //present
            fontColor = "bg-success";
        }
        else{ //past
            fontColor = "bg-warning";
        }
        //DISPLAY
        list.innerHTML = list.innerHTML + '<span class = "' + fontColor + '" style="font-size:17px" title = "'+i+'">'+ object.sentence + '</span>';
        list.innerHTML = list.innerHTML + "&nbsp;&nbsp;"
    }
    list.innerHTML = list.innerHTML + "<br><br><br>";
    //tooltip
    $(function() {
       $( document ).tooltip({
         track: true,
         open: function (event, ui) {
            $('.ui-tooltip-content > div').append($("#canvas"));
            if (typeof(event.originalEvent) === 'undefined')
                {
                    return false;
                }
                var $id = $(ui.tooltip).attr('id');
            // close any lingering tooltips
            $('div.ui-tooltip').not('#' + $id).remove();
         },
         content:function () {
                var temp = $(this).prop('title');
                temp = theBigArray[temp] //THIS IS THE JSON DATA CONTAINER FOR EACH SENTENCE
                var barChartData = {
                    labels : ["Future","Past"],
                    datasets : [
                        {
                            fillColor : "rgba(151,187,205,0.5)",
                            strokeColor : "rgba(151,187,205,0.8)",
                            highlightFill : "rgba(151,187,205,0.75)",
                            highlightStroke : "rgba(151,187,205,1)",
                            data : [temp.numberFuture, temp.numberPast]
                        }
                    ]
                }
                $('body').append($("<canvas id='canvas' width='250' height='170'></canvas>"))
                var ctx = document.getElementById("canvas").getContext("2d");
                var myTable = new Chart(ctx).Bar(barChartData, {
        			responsive : false,
                    animation: false,
                    showTooltips : false,
                    showInlineValues : true,
                    centeredInllineValues : true,
                    tooltipCaretSize : 0,
                    tooltipTemplate : "<%= value %>"
        		});
                return '<div></div>';
        }
      });
    });


    if (pos < arraySize) {
        $.ajax({
           url: theURL,
            type: "POST",
            datatype: "json",
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify({
              "sentences": array[pos]
            }) //JSON.stringify(data)
        }).done(function (data, textStatus, jqXHR) {
            callBackFunc(data, array, arraySize, pos+1)
        });
    } else {
        //LOADING BUTTON ENDS
        $button1.prop("disabled",false);
        $button1.text("Run Analysis");
        return;
    }


}
 <!-- ToolTip Script Ends -->
<!-- CSV Download Javascript -->
$("#download").click(function() {
    if(theBigArray.length == 0){
        alert("Textarea is Empty! ");
    } else {
        //Json Conversion for Download Starts
        var downloadable = theBigArray;
        //Json Conversion Ends
        var csv = JSON2CSV(theBigArray);
        console.log(theBigArray);
        window.open("data:text/csv;charset=utf-8," + escape(csv))
    }
});
function JSON2CSV(objArray) {
    var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
    var str = '';
    var line = '';
    var head = array[0];
    for (var index in array[0]) {
        var value = index + "";
        line += '"' + value.replace(/"/g, '""') + '",';
    }
    line = line.slice(0, -1);
    str += line + '\r\n';
    for (var i = 0; i < array.length; i++) {
       var line = '';
       for (var index in array[i]) {
            var value = array[i][index] + "";
            line += '"' + value.replace(/"/g, '""') + '",';
        }
       line = line.slice(0, -1);
       str += line + '\r\n';
   }
   return str;
}
</script>
<!-- CSV Download Ends -->

<!-- JAVASCRIPT START -->
<script type="text/javascript">
//BUTTON animation JAVASCRIPT
</script>
<!-- JAVASCRIPT END -->

</body>
</html>
