<!doctype html>
<html lang="en">
<!-- This version takes input from a single coordinate file
	 and it includes colored groups, perspective views for 3D,
	 and label search.										-->
<head>
  <meta charset="utf-8">
  <title>Wordiverse</title>

  <link href="css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/mystyle.css">

  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="js/vendor/d3.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/tsne.js"></script>

<!-- Tracking code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3698471-13']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<style>
svg {
  border: 1px solid #333;
  margin-top: 20px;
}
body {
  font-size: 16px;
}
</style>

</head>

<body>
    <div class="ok">
        <div class = "container">
            <div class="menu">
                <ul class="nav navbar-nav">
                   <li><a href="future">Home</a></li>
                   <li><a href="futureAnalysis">Demo</a></li>
                   <li><a href="realTimeGraph">Statistical graph</a></li>
                   <li><a href="trainingCorpus">Training Corpus</a></li>
                   <li><a href="sourceCode">Source Code</a></li>
                   <li><a href="wordiverse5">Wordiverse</a></li>
                   <li><a href="3dwordiverse">3D-Wordiverse</a></li>

                </ul>
            </div>
			<div id = "top-layer" class="container-fluid">
                <br/><br/>
                <hr/>
                <br/>
                <h1 style="display: inline;">Wordiverse</h1>
            </div>
            <br/> <br/>
			<div class="jumbotron col-md-16 center">
                <b>Word files (Comma delimitted):</b><br>
                <input type="file" id="input_files" name="files[]"/>
                <output id="input_list"></output>
            </div>

			<b>Perspective</b><br>
            <button type="button" id="xy" style="width:100px; height:25px;">X,Y</button>
            <button type="button" id="xz" style="width:100px; height:25px;">X,Z</button>
            <button type="button" id="yz" style="width:100px; height:25px;">Y,Z</button>

			<div class="container">
                <hr>
                <div class="row">
                	<div class="col-sm-2">
						<input id="searchtext" style="width:180px; height:25px;"></textarea>
                    </div>
                    <div class="col-sm-2">
						<button type="button" id="search" style="width:120px; height:25px;">Search</button>
                	</div>
                </div>
				<div id="failedsearch" style="text-align:left; font-family: Impact;"></div>
				<br>
				<div class="row">
					<div class="col-sm-2">
						<input id="tagtext" style="width:180px; height:25px;"></textarea>
						<div id="failedtag" style="text-align:left; font-family: Impact;"></div>
                    </div>
					<div class="col-sm-4">
						<b>Create Tag (right click)</b>
					</div>
                    <br>
                </div>
            </div>
			<hr>
			<button type="button" id="display" class="btn btn-primary" style="width:200px; height:50px;">Display</button>
			<button type="button" id="save" class="btn btn-danger" style="width:200px; height:50px;">Save</button>
			<br>
			<a download="wordiverse.csv" id="downloadlink" style="display: none">Download</a>
			<br>
			<div id="position" style="text-align:left; font-family: Impact;"></div>
			<div id="embed"></div>

			<div id="footer">
				<div class="container">
					<hr/>
					<!--
					<a href="http://www.emory.edu"><img src="img/university2.png" alt="Emory" width="60"/></a>
					<a href="http://www.sfl.cnrs.fr"><img src="img/sfl.jpg" alt="SFL" width="130"/></a>
					<a href="http://www.cnrs.fr"><img src="img/cnrs.jpg" alt="CNRS" /></a>
					<a href="http://www.univ-paris8.fr "><img src="img/P8.jpg" alt="Paris 8 University" width="120" /></a>
					-->
				</div>
			</div>
		</div>
	</div>
</body>


<script>
// Javascript for displaying wordiverse

// Global variables
var Data;			// 2D array of data points (ex., point_x = Data[point_id][0])
var Input_files;	// file or files containing data points
var Input_txt;		// text from Input_files

var Labels;			// array of labels for each point
var Categories;		// array of categories for each point (used to assign colors)

var XY = 0, XZ = 1, YZ = 2;
var Perspective = XY;		// This is the current perspective mode

var Width = 1000, Height = 600;
var Center_x = Width/2;
var Center_y = Height/2;

// the origin can be changed to center at some point
var Origin_x=0, Origin_y=0, Origin_z=0;

// keep track of 3D position
var Translation_x=0, Translation_y=0, Translation_z=0;
var Scale = 1;


// D3 objects
var Display;	// display screen (scalable vector graphics)
var Points;		// display points
var Circles;	// point circle objects
var Text;		// point text objects
var Zoom;		// zoom listener object

function initEmbedding() {
	// Create the display screen
	$("#embed").empty();
	// Allow user to translate and scale view
    Zoom = d3.behavior.zoom()
      .scaleExtent([0.2, 5])
      .on("zoom", zoomHandler);

	var div = d3.select("#embed");
	Display = div.append("svg")
		.attr("width", Width)
		.attr("height", Height)
		.call(Zoom)
		.append("g");

    Zoom(Display);
}

function getData() {
	// Get data points
	var d = ",";
	var lines = Input_txt.split("\n");
	Data = [];
	Labels = [];
	Categories = [];
	for(var i=1;i<lines.length;i++) {
		var row = lines[i];
		if (! /\S/.test(row)) {
			// row is empty and only has whitespace
			continue;
		}
		var cells = row.split(d);
		var data_point = [];
		Labels.push(cells[0]); 		// get label
		Categories.push(cells[1]); 	// get category
		for(var j=2;j<cells.length;j++) {
			if(cells[j].length !== 0) {
				var coor = parseFloat(cells[j]);
				data_point.push(coor);
			}
		}
		Data.push(data_point);
	}
}

function drawEmbedding() {
	// Create all points and labels
    Points = Display.selectAll(".b")
      .data(Data)
      .enter().append("g")
      .attr("class", "u");

	// Create a circle for each point
    Circles = Points.append("circle")
      .attr("cx", 0)
      .attr("cy", 0)
      .attr("r", function(d,i) {return (Categories[i]==-1)? 10: 5;})
      .attr('stroke-width', function(d,i) {return (Categories[i]==-1)? 2: 1;})
      .attr('stroke', function(d,i) {return (Categories[i]==-1)? "SlateBlue": "Black";})
      .attr('fill', color);

	// Create a label for each point
	Text = Points.append("text")
      .attr("text-anchor", "top")
      .attr("transform", function(d,i) {return (Categories[i]==-1)? "translate(12, -12)": "translate(5, -5)";})
      .attr("font-size", function(d,i) {return (Categories[i]==-1)? 32: 12;})
	  .attr("fill", function(d,i) {return (Categories[i]==-1)? "SlateBlue": "Black";})
      //.attr("fill", "#333")
      .text(function(d,i) { return Labels[i]; });
}

function updateDisplay() {
  // Adjust points on the screen based on current viewpoint
  Points.attr("transform", function(d, i) {
	  var x, y;
	  if(Perspective == XY){
		x = 20*(Data[i][0] - Origin_x);
		y = 20*(Data[i][1] - Origin_y);
	  }
	  else if(Perspective == XZ){
		x = 20*(Data[i][0] - Origin_x);
		y = 20*(Data[i][2] - Origin_z);
	  }
	  else if(Perspective == YZ){
		x = 20*(Data[i][1] - Origin_y);
		y = 20*(Data[i][2] - Origin_z);
	  }
	  return "translate(" + x + "," + y + ")"; });
}

function color(d,i) {
	// For a single point, assign a color based on its category
	var min = Infinity;
	var max = -Infinity;

	for(var j=0;j<Categories.length;j+=1){
		if(Categories[j]>max)
			max = Categories[j];
		if(Categories[j]<min)
			min = Categories[j];
	}
	min = Math.max(min,0);
	max = Math.max(max,1);
	var spread = (5.0*255)/(max-min);
	var color = Math.round(Categories[i]*spread) % (5*255);

	if(Categories[i] == -1)
		return 'rgb(255,255,255)';
	// red - yellow
	else if(color >= 0 && color < 255)
		return 'rgb(255,'+ (color%255) +',0)';
	// yellow - green
	else if(color >= 255 && color < 2*255)
		return 'rgb('+ (255-(color%255)) +',255,0)';
	// green - turquoise
	else if(color >= 2*255 && color < 3*255)
		return 'rgb(0,255,'+ (color%255) +')';
	// turquoise - blue
	else if(color >= 3*255 && color < 4*255)
		return 'rgb(0,'+ (255-(color%255)) +',255)';
	// blue - purple
	else if(color >= 4*255 && color <= 5*255)
		return 'rgb('+ (color%255) +',0,255)';
	else
		return 'rgb(255,255,255)';
}

function zoomHandler() {
	// zoom handling function
	var translate = d3.event.translate;

	// keep track of 3D position
	if(Perspective == XY){
		Translation_x = translate[0] - Center_x;
		Translation_y = translate[1] - Center_y;
	}
	else if(Perspective == XZ){
		Translation_x = translate[0] - Center_x;
		Translation_z = translate[1] - Center_y;
	}
	else if(Perspective == YZ){
		Translation_y = translate[0] - Center_x;
		Translation_z = translate[1] - Center_y;
	}

	/* Put a threshold on the furthest away you can zoom
	var threshold_x = Scale*Width, threshold_y = Scale*Height;
	var x = Zoom.translate()[0], y = Zoom.translate()[1];
	x = Math.min(threshold_x + Width, x);
	x = Math.max(-threshold_x,x);
	y = Math.min(threshold_y + Height,y);
	y = Math.max(-threshold_y,y);
	Zoom.translate([x,y]);*/

	Scale = d3.event.scale;
	Display.attr("transform",
        "translate(" + Zoom.translate() + ")"
		+"scale(" + Zoom.scale() + ")");
}

function center(x, y){
	// Center viewpoint at (x,y)
    Zoom.translate([x+Center_x,y+Center_y]).scale(Scale);
	Zoom.event(Display.transition());
}

function search(label){
	// Center viewpoint at the point with the label
	$("#failedsearch").html("");
	var index = Labels.indexOf(label);
	if(index != -1){
		Origin_x = Data[index][0];
		Origin_y = Data[index][1];
		Origin_z = Data[index][2];
		center(0,0);
		updateDisplay();
		$("#failedsearch").html(""+Data[index][0]+", "+Data[index][1]+", "+Data[index][2]);
	}
	else{
		$("#failedsearch").html("Not found");
	}
}

function absoluteToRelativeCoordinates(data_x,data_y,data_z){
	/* This function shows how to convert from absolute
	 * coordinates (the coordinates in Data) to relative
	 * coordinates (the x and y position in the display screen).
	 */
	var display_x, display_y;
	if(Perspective = XY){
		display_x = Scale*20*(data_x - Origin_x)+Translation_x + Center_x;
		display_y = Scale*20*(data_y - Origin_y)+Translation_y + Center_y;
	}
	else if(Perspective = XZ){
		display_x = Scale*20*(data_x - Origin_x)+Translation_x + Center_x;
		display_y = Scale*20*(data_z - Origin_z)+Translation_z + Center_y;
	}
	else if(Perspective = YZ){
		display_x = Scale*20*(data_y - Origin_y)+Translation_y + Center_x;
		display_y = Scale*20*(data_z - Origin_z)+Translation_z + Center_y;
	}
	return [display_x,display_y];
}

function relativeToAbsoluteCoordinates(display_x, display_y){
	/* This function shows how to convert from relative
	 * coordinates (the x and y position in the display screen)
	 * to absolute coordinates (the coordinates in Data).
	 */
	var data_x, data_y, data_z;
	if(Perspective == XY){
		data_x = ((display_x - Translation_x - Center_x)/Scale)/20 + Origin_x;
		data_y = ((display_y - Translation_y - Center_y)/Scale)/20 + Origin_y;
		data_z = ((-Translation_z)/Scale)/20 + Origin_z;
	}
	else if(Perspective == XZ){
		data_x = ((display_x - Translation_x - Center_x)/Scale)/20 + Origin_x;
		data_y = ((-Translation_y)/Scale)/20 + Origin_y;
		data_z = ((display_y - Translation_z - Center_y)/Scale)/20 + Origin_z;
	}
	else if(Perspective == YZ){
		data_x = ((-Translation_x)/Scale)/20 + Origin_x;
		data_y = ((display_x - Translation_y - Center_x)/Scale)/20 + Origin_y;
		data_z = ((display_y - Translation_z - Center_y)/Scale)/20 + Origin_z;
	}
	return [data_x, data_y, data_z];
}

function createTag(e) {
	$("#failedtag").html("");
	var label = $("#tagtext").val();
	$("#tagtext").html("");

	var offset = $("#embed").offset();
	var display_x = e.pageX - offset.left;
	var display_y = e.pageY - offset.top;
	var data_coor = relativeToAbsoluteCoordinates(display_x, display_y);
	console.log(data_coor);

	Data.push(data_coor);
	Labels.push(label);
	Categories.push(-1);

	initEmbedding();
	drawEmbedding();
	if(Perspective == XY)
		center(Translation_x,Translation_y);
	else if(Perspective == XZ)
		center(Translation_x,Translation_z);
	else if(Perspective == YZ)
		center(Translation_y,Translation_z);
	updateDisplay();
}

function saveOutput(){
	var Output_file;
	var text = "";
	for(var i=0; i<Data.length; i++){
		text += Labels[i]+","+Categories[i]+","+Data[i][0]+","+Data[i][1]+","+Data[i][2]+"\n";
	}

    var data = new Blob([text], {type: 'text/plain'});

    // If we are replacing a previously generated file we need to
    // manually revoke the object URL to avoid memory leaks.
    if (Output_file !== null) {
      window.URL.revokeObjectURL(Output_file);
    }

    Output_file = window.URL.createObjectURL(data);

	var link = document.getElementById('downloadlink');
    link.href = Output_file;
    link.style.display = 'block';
}

function inputFileSelect(evt) {
	// This function handles the "Choose file" button and loads Input_txt
	Input_files = FileSelect(evt, 'input_list');
	Input_txt = "";

	var reader = new FileReader();
	reader.onload = function(e) {
		Input_txt += reader.result + "\n";
    }
	for (var i = 0, f; f = Input_files[i]; i++)
		reader.readAsText(f);
}

function FileSelect(evt, element_id) {
	// This function handles the "Choose file" button
    files = evt.target.files; // FileList object
    // files is a FileList of File objects. List some properties.
    var output = [];
	Input_txt = "";
    for (var i = 0, f; f = files[i]; i++) {
		output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '</li>');
    }
    document.getElementById(element_id).innerHTML = '<ul>' + output.join('') + '</ul>';
	return files;
}

document.getElementById('input_files').addEventListener('change', inputFileSelect);

// Main code
$(window).load(function() {
	  initEmbedding();
	  // Display button
	  $("#display").click(function() {
		initEmbedding();
		getData();
		if(Labels.length > 0) {
		  if(Data.length !== Labels.length) {
			alert('number of rows in Text labels ('+Labels.length+') does not match number of rows in Data (' + Data.length + ')! Aborting.');
			return;
		  }
		}
		drawEmbedding();
		center(Center_x,Center_y);
		updateDisplay();
	  });
	  // X,Y Perspective
	  $("#xy").click(function() {
		Perspective = XY;
		center(Translation_x,Translation_y);
		updateDisplay();
	  });
	  // X,Z Perspective
	  $("#xz").click(function() {
		Perspective = XZ;
		center(Translation_x,Translation_z);
		updateDisplay();
	  });
	  // Y,Z Perspective
	  $("#yz").click(function() {
		Perspective = YZ;
		center(Translation_y,Translation_z);
		updateDisplay();
	  });
	  // Search button
	  $("#search").click(function() {
		var label = $("#searchtext").val();
		search(label);
	  });
	  $("#save").click(function() {
		saveOutput();
	  });
	  $("#embed").ready(function(){
			document.getElementById('embed').oncontextmenu = function() {return false;};

			$("#embed").mousedown(function(e){
				if( e.button == 2 ) {
					var tag = $("#tagtext").val();
					if(tag === "")
						$("#failedtag").html("Type the tag name above");
					else if(Labels.indexOf(tag) != -1)
						$("#failedtag").html("Tag name already exists");
					else{
						createTag(e);
					}
					return false;
				}
				return true;
			});
			$("#embed").mouseover(function(e){
				var offset = $("#embed").offset();
				var display_x = e.pageX - offset.left;
				var display_y = e.pageY - offset.top;
				var data_coor = relativeToAbsoluteCoordinates(display_x, display_y);
				$("#position").html("position: " + data_coor[0]+", "+data_coor[1]+", "+data_coor[2]);
			});
			/*$("#embed").mouseover(function(e){
				$("#position").html("");
			});*/
	  });

});
</script>

</html>
