<!doctype html>
<html lang="en">
<!-- This version takes input from a single coordinate file
	 and it includes colored groups, perspective views for 3D,
	 and label search.										-->
<head>
  <meta charset="utf-8">
  <title>Wordiverse</title>

<link href="css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/mystyle.css">

<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="js/vendor/d3.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/tsne.js"></script>

<!-- Tracking code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3698471-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<style>
svg {
  border: 1px solid #333;
  margin-top: 20px;
}
body {
  font-size: 16px;
}
</style>

</head>

<body>
    <div class="ok">
        <div class = "container">
            <div class="menu">
                 <ul class="nav navbar-nav">
                   <li><a href="future">Home</a></li>
                   <li><a href="futureAnalysis">Demo</a></li>
                   <li><a href="realTimeGraph">Statistical graph</a></li>
                   <li><a href="trainingCorpus">Training Corpus</a></li>
                   <li><a href="sourceCode">Source Code</a></li>
                   <li><a href="wordiverse5">Wordiverse</a></li>
                 </ul>
               </div>

               <div id = "top-layer" class="container-fluid">
                   <br/><br/>
                   <hr/>
                   <br/>
                   <h1 style="display: inline;">Wordiverse</h1>
               </div>
               <br/> <br/>

               <div class="jumbotron col-md-16 center">
                  <b>Word files (Comma delimitted):</b><br>
                  <input type="file" id="word_files" name="files[]" multiple />
                  <output id="word_list"></output>
              </div>


              <b>Perspective</b><br>
              <button type="button" id="xy" style="width:100px; height:25px;">X,Y</button>
              <button type="button" id="xz" style="width:100px; height:25px;">X,Z</button>
              <button type="button" id="yz" style="width:100px; height:25px;">Y,Z</button>



                <div class="container">
                  <hr>
                  <div class="row">
                	<div class="col-sm-2">
                	  <button type="button" id="search" style="width:100px; height:25px;">Search</button>
                	</div>
                	<div class="col-sm-2">
                	  <input id="searchtxt" style="width:100px; height:25px;"></textarea>
                	  <div id="failedsearch" style="text-align:left; font-family: Impact;"></div>
                    </div>
                    <br><br>
                  </div>
                </div>

            	<button type="button" id="inbut" class="btn btn-primary" style="width:200px; height:50px;">Display</button>
            	<br>

	<div id="embed"></div>

    <div id="footer">
          <div class="container">
      <hr/>
      <a href="http://www.emory.edu"><img src="img/university2.png" alt="Emory" width="60"/></a>
      <a href="http://www.sfl.cnrs.fr"><img src="img/sfl.jpg" alt="SFL" width="130"/></a>
      <a href="http://www.cnrs.fr"><img src="img/cnrs.jpg" alt="CNRS" /></a>
      <a href="http://www.univ-paris8.fr "><img src="img/P8.jpg" alt="Paris 8 University" width="120" /></a>
    </div></div>

</div>

</body>


<script>



var Y; // tsne result stored here
var data;

var word_files;

var data_txt;

function wordFileSelect(evt) {
    word_files = evt.target.files; // FileList object

    // files is a FileList of File objects. List some properties.
    var output = [];
	data_txt = "";
	dotrain = false;
    for (var i = 0, f; f = word_files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '</li>');
		var reader = new FileReader();
		reader.onload = function(e) {
          data_txt += reader.result + "\n";
        }
		reader.readAsText(f);
    }
    document.getElementById('word_list').innerHTML = '<ul>' + output.join('') + '</ul>';

}

document.getElementById('word_files').addEventListener('change', wordFileSelect);

var XY = 0, XZ = 1, YZ = 2;
var PERSPECTIVE = XY;

var width = 1000, height = 1000;
var tx=0, ty=0, tz=0;
var ss = 1;
var center_x = 500;
var center_y = 500;


function updateEmbedding() {

  // move the groups accordingly
  gs.attr("transform", function(d, i) {
	  var x;
	  var y;
	  if(PERSPECTIVE == XY){
		x = (data[i][0]*20*ss + tx) + center_x;
		y = (data[i][1]*20*ss + ty) + center_y;
	  }
	  else if(PERSPECTIVE == XZ){
		x = (data[i][0]*20*ss + tx) + center_x;
		y = (data[i][2]*20*ss + tz) + center_y;
	  }
	  else if(PERSPECTIVE == YZ){
		x = (data[i][1]*20*ss + ty) + center_x;
		y = (data[i][2]*20*ss + tz) + center_y;
	  }
	  return "translate(" + x + "," + y + ")"; });

}


var svg;
var zoom = d3.behavior.zoom().scaleExtent([0.1, 10]).on("zoom", zoomed);


function initEmbedding() {
  $("#embed").empty();
  var div = d3.select("#embed");
  svg = div.append("svg") // svg is global
    .attr("width", width)
    .attr("height", height)
    .call(zoom)
    .append("g");
}

function zoomed() {
    svg.attr("transform",
        "translate(" + zoom.translate() + ")" +
        "scale(" + zoom.scale() + ")"
    );
}

var gs;
var cs;
var ts;


function drawEmbedding() {

    gs = svg.selectAll(".b")
      .data(data)
      .enter().append("g")
      .attr("class", "u");

    cs = gs.append("circle")
      .attr("cx", 0)
      .attr("cy", 0)
      .attr("r", 5)
      .attr('stroke-width', 1)
      .attr('stroke', 'black')
      .attr('fill', function(d,i) {
			var min=1000;
			var max=-1;
			for(var j=0;j<categories.length;j+=1){
				if(categories[j]>max)
					max = categories[j];
				if(categories[j]<min)
					min = categories[j];
			}

			var spread = 255/(max-min);
			return 'rgb(255,'+Math.round(categories[i]*spread % 255)+',0)';
		});

    if(labels.length > 0) {
      ts = gs.append("text")
        .attr("text-anchor", "top")
        .attr("transform", "translate(5, -5)")
        .attr("font-size", 12)
        .attr("fill", "#333")
        .text(function(d,i) { return labels[i]; });
    }

    var zoomListener = d3.behavior.zoom()
      .on("zoom", zoomHandler);
    zoomListener(svg);
}

function zoomHandler() {
	var translate = d3.event.translate;
	if(PERSPECTIVE == XY){
		tx = translate[0];
		ty = translate[1];
	}
	else if(PERSPECTIVE == XZ){
		tx = translate[0];
		tz = translate[1];
	}
	else if(PERSPECTIVE == YZ){
		ty = translate[0];
		tz = translate[1];
	}

  ss = d3.event.scale;
}

function search(word){
	$("#failedsearch").html("");
    console.log("clicked");
	var index = labels.indexOf(word);
	if(index != -1){
		tx = -data[index][0]*20*ss;
		ty = -data[index][1]*20*ss;
		tz = -data[index][2]*20*ss;

		if(PERSPECTIVE == XY){
            center(tx,ty);
        }
		else if(PERSPECTIVE == XZ) {
            center(tx,tz);
        }
		else if(PERSPECTIVE == YZ){
            center(ty,tz);
        }

		updateEmbedding();
	}
	else{
		$("#failedsearch").html("Not found");
	}
}
function center(x, y){
    zoom.scale(1);
    zoom.translate([0, 0]);
    svg.attr("transform",
        "translate(" + zoom.translate() + ")" +
        "scale(" + zoom.scale() + ")"
    );
	var newZoomListener = d3.behavior.zoom()
      .scale(1)
	  .center([x,y])
      .on("zoom", zoomed);
    newZoomListener(svg);
    console.log(newZoomListener.scale());

}


var stepnum = 0;
function step() {
  updateEmbedding();
}

var labels = [];
var categories = [];
function preProData() {

  var d = ",";
  var lines = data_txt.split("\n");
  var raw_data = [];
  for(var i=1;i<lines.length;i++) {
    var row = lines[i];
    if (! /\S/.test(row)) {
      // row is empty and only has whitespace
      continue;
    }
    var cells = row.split(d);
    var data_point = [];
	labels.push(cells[0]);
	categories.push(cells[1]);
    for(var j=2;j<cells.length;j++) {
      if(cells[j].length !== 0) {
        data_point.push(parseFloat(cells[j]));
      }
    }

    raw_data.push(data_point);
  }
  data = raw_data; // set global
}

dotrain = true;
iid = -1;
$(window).load(function() {

  initEmbedding();

  $("#stopbut").click(function() {
    dotrain = false;
  });

  $("#inbut").click(function() {

    initEmbedding();
    preProData();

    if(labels.length > 0) {
      if(data.length !== labels.length) {
        alert('number of rows in Text labels ('+labels.length+') does not match number of rows in Data (' + data.length + ')! Aborting.');
        return;
      }
    }

    drawEmbedding();
    iid = setInterval(step, 10);
    dotrain = true;

  });

  $("#xy").click(function() {
    PERSPECTIVE = XY;
	center(tx,ty);
	updateEmbedding();
  });

  $("#xz").click(function() {
    PERSPECTIVE = XZ;
	center(tx,tz);
	updateEmbedding();
  });

  $("#yz").click(function() {
    PERSPECTIVE = YZ;
	center(ty,tz);
	updateEmbedding();
  });

  $("#search").click(function() {
    var word = $("#searchtxt").val();
	search(word);
  });
});

</script>

</html>
