.btn-basecamp {
  	background-image: none;
	background: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 1px 0px #ddd;
	-moz-box-shadow: 0px 1px 0px #ddd;
	box-shadow: 0px 1px 0px #ddd;
}
.btn-basecamp:hover {
	background: #fff;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

#demoContainer {
    visibility: hidden;
}
#loadingBar {
    visibility: hidden;
}
#legend {
    font-size: 30px;
    padding: 10px;
}
#demo {
    padding: 10px;
}
#demo span {
    line-height: 250%;
}
body > #canvas {
      position: fixed;
      visibility: hidden;
 }
 /* Not Triggered */
 .result .bg-nothing {
 	padding: 6px ;
 	border: 1px dashed gray ;
 }
 .label-warning{
     color: #4D4D4F;
     background-color: #FDF8E4;
 }
 .label-info{
     color: #4D4D4F;
     background-color: #D7EDF8;
 }
 .label-success{
     color: #4D4D4F;
     background-color: #DEF0D8;
 }

/* Sarra El Ayari [sarra.elayari_at_cnrs_dot_fr]- 28/07/2015 */

#top-layer {
	margin-top: 40px ;
}

body {
background: #C3D9E0 ;
}

.ok {
	box-shadow: 1px 1px 12px #555;
	background: #FFF ;
	margin-left: auto ;
	margin-right: auto ;
	max-width: 1200px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1200px;

  }
}
.container-narrow > hr {
  margin: 30px 0;
}
#corps {
	background: #FFF;
}

#footer {
	text-align: center ;
	padding: 15px ;
}

#footer img {
	margin-left: 15px ;
}

.menu li {
	padding: 20px ;
	font-size: 12pt ;
}

.jumbotron {
	background:  #d9edf7 ;
    padding: 5px;
}

.result {
font-family: "Times New Roman", Times, serif;
	font-size: 15pt ;
	padding: 10px ;
	margin-left: 40px ;
}

/* Future*/
.result .bg-info {
	padding: 6px ;
	border: 1px dashed gray ;
}

/* Past */
.result .bg-warning {
	padding: 6px ;
	border: 1px dashed gray ;
}

/* Present */
.result .bg-success {
	padding: 6px ;
	border: 1px dashed gray ;
}
